#search-bar{
  background: transparent;
  font-size: 30px;
  text-align:center;
  width:100%;
  color:black;
}
#search-bar:focus{
  border: 2px solid #0288d1;
}
.search-bar-container{
  padding: 14px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    grey;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    grey;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    grey;
}
@media only screen and (max-device-width: 480px) {
  #search-bar{
    font-size: 25px;
  }
  #search-bar:focus{
    border: 2px solid #0288d1;
  }
  h2{
    font-size:22px;
  }
}